<div class="content clr-row">
	<div class="clr-col-4 img-container">
		Hello
	</div>
	<div class="clr-col-8">
	<h3>Ciarra Marielle Altoveros</h3>
	<clr-tabs>
		<clr-tab>
			<button clrTabLink>Personal</button>
			<clr-tab-content *clrIfActive="true">
				<p>
					Hi, I'm Ciarra! I am a software engineer. I graduated from University of California Irvine with a B.S. in Computer Science in 2016, but I am still learning! I believe that <i>a true master is an eternal student</i> (Master Yi).
				</p>
				<p>
					In my free time, I like to spend time with my dog Emi. I love dogs and have been volunteering at The Little Red Dog (dog rescue) and Orange County Animal Care (shelter). I grew up with my extended family in the Philippines, and my childhood memories are filled with at least 8 dogs in the house at a time! I had my own dog named Jodi at 10 years old, and along with my current dog Emi, I learned that there is never enough love to share with the world. 
				</p>
				<p>
					I also like to play games. All kinds. My first memory of video games is playing Circus Charlie with my cousins on the NES. Then I fell in love with Playstation and have since had every single console; my favorite games were Tekken, Final Fantasy X, Spyro, and Crash Team Racing. Now, I play games on the PC. My favorite game currently is League of Legends! I love the challenge in video games and I feel that it is such an awesome exercise for my brain, apart from programming at work all day. I think I will be playing video games until I am old!
				</p>
				<p>
					My love for games doesn't stop with video games. I also love board games/party games, especially when playing with a group of friends. We are currently into deceit games such as One Night Ultimate Werewolf, Bang!, and Salem 1692. If you'd like to see my favorites, see 
					<a href="https://boardgamegeek.com/user/prxncess">my BoardGameGeek list.</a>
				</p>
				<p>
					If you want to learn more about me, please see the contact tab. I would love to network with you! :)
				</p>
			</clr-tab-content>
		</clr-tab>
		<clr-tab>
			<button clrTabLink id="link1">Experience and Resume</button>
			<clr-tab-content id="content1" *clrIfActive>
				<p>
					I am currently a software engineer at Riot Games. I am leveling up my backend development skills. I am currently diving into some Java development for Riot's edge solution which enables game microservices to talk to each other efficiently and securely. My team is responsible for protecting the game via Zuul filtering which provides routing, rate limiting, authentication and more. I also maintain a web portal where the Riot devs configure infrastructure details and manage keys and policies for their service. I have been participating regularly in on-call rotations where I am responsible for any support tickets for our product and live issues for the shift.
				</p>

				<p>For my current role in Riot, I have been working with Java, Spring, Groovy, Grails, Git, Jenkins (for CI/CD), AWS, and more.</p>

				<p>
					I am an advocate for clean and testable code. In my previous job at Dell EMC, I spent 3 years focusing on front-end technologies such as Angular, Typescript, Jasmine, and Cypress.io. I have worked on full feature developments all over the enterprise web application, PowerProtect Data Management. I wrote a lot of unit tests in Jasmine, integration tests, and functional tests in Cypress.io. I was also a gatekeeper for the web repository, where I provided detailed code reviews and ensured that test coverage and team code style guides are met.
				</p>
				<p>
					My previous jobs have also helped me develop a well-rounded tech stack, with projects using Java, Python, MySQL, JQuery, and Bash. I use Git on the daily, and I am comfortable in various IDE's.
					I am also a Certified Scrum Developer, and I am living the Scrum, Agile, and sometimes Kanban methodologies in my work environment daily.
				</p>
				<p>
					Please feel free to network with me on my LinkedIn; see my Contact tab in this site. :)
				</p>
			</clr-tab-content>
		</clr-tab>

		<clr-tab>
			<button clrTabLink>Contact</button>
			<clr-tab-content *clrIfActive id="content2">
				<a href="https://www.linkedin.com/in/ciarra-marielle-altoveros-053823100/">LinkedIn</a>
				<br/>
				<a href="mailto:ciarraaltoveros@gmail.com">Email</a>
				
			</clr-tab-content>
		</clr-tab>
	</clr-tabs>
	</div>
</div>