.content {
    width: 80%;
    height: 50%;
    // background-color: lightpink;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow-x: hidden;
	overflow-y: scroll;

    &:hover {
        box-shadow: 10px 10px 8px pink;
    }
}

// * {
//     border: 1px dashed lightgray;
// }

.img-container {
    background-image: url('/assets/mainphoto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-size: 50% auto;
}